@model AgenciaViagemDC.Models.Viaja

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="padding-texto">Detalhes do Destino</h1>

<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataViagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPassagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPassagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPassagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPassagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary hover-diferente"><a class="cor-da-ancora" asp-action="Index">Voltar para a lista</a></button>
    <button class="btn btn-warning hover-diferente"><a class="cor-da-ancora" asp-action="Edit" asp-route-id="@Model?.Id">Alterar Informações</a></button>
</div>
