@model IEnumerable<AgenciaViagemDC.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1 class="padding-texto">Clientes</h1>

<p>
    <button class="btn btn-success hover-diferente"><a class="cor-da-ancora" asp-action="Create">Cadastrar Cliente</a></button>
</p>
<div class="table-responsive">
<table class="table table-hover">
    <caption>Lista de Clientes</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button class="btn btn-sm btn-warning hover-diferente"><a class="cor-da-ancora" asp-action="Edit" asp-route-id="@item.Id">Alterar</a></button>
                <button class="btn btn-sm btn-info hover-diferente"><a class="cor-da-ancora" asp-action="Details" asp-route-id="@item.Id">Detalhes</a></button>
                <button class="btn btn-sm btn-danger hover-diferente"><a class="cor-da-ancora" asp-action="Delete" asp-route-id="@item.Id">Excluir</a></button>
                </div>           
            </td>
        </tr>
}
    </tbody>
</table>
</div>
